/* ========= */
/* VARIABLES */
/* ========= */

/* ================== */
/* LIGHT THEME COLORS */
/* ================== */
html[data-theme="light"] {
  /* BODY */
  /* body Background Color */
  --color__body: hsl(185, 41%, 84%);

  /* h1 heading */
  --color__title: hsl(186, 14%, 43%);

  /* APPLICATION */
  /* Application Background Color */
  --color__main: hsl(0, 0%, 100%);

  /* INPUT SECTION */
  /* Input Fields */
  --color__input-field-background: hsl(189, 20%, 94%);
  --color__input-field-text: hsl(183, 100%, 15%);
  --color__input-field-label: hsl(186, 14%, 43%);

  /* TIP Buttons */
  --color__input-btns-background-default: hsl(183, 100%, 15%);
  --color__input-btns-text-default: hsl(189, 41%, 97%);

  --color__input-btns-background-hover: hsl(172, 50%, 45%);
  --color__input-btns-text-hover: hsl(183, 100%, 15%);

  --color__input-btns-background-active: hsl(172, 50%, 45%);
  --color__input-btns-text-active: hsl(183, 100%, 15%);

  /* OUTPUT SECTION */
  --color__output-background: hsl(183, 90%, 15%);
  --color__output-heading: hsl(189, 41%, 97%);
  --color__output-heading-sub: hsl(184, 14%, 56%);
  --color__output-text: hsl(172, 50%, 45%);

  /* Output Button */
  --color__output-btn-background: hsl(183, 100%, 20%);
  --color__output-btn-text: hsl(183, 100%, 15%);
  --color__output-btn-background-hover: hsl(172, 50%, 45%);
}

/* ================= */
/* DARK THEME COLORS */
/* ================= */
html[data-theme="dark"] {
  /* BODY */
  /* body Background Color */
  --color__body: hsl(185, 30%, 15%);

  /* h1 heading */
  --color__title: hsl(186, 15%, 80%);

  /* APPLICATION */
  /* Application Background Color */
  --color__main: hsl(186, 50%, 5%);

  /* INPUT SECTION */
  /* Input Fields */
  --color__input-field-background: hsl(251, 40%, 39%);
  --color__input-field-text: hsl(183, 85%, 50%);
  --color__input-field-label: hsl(186, 15%, 80%);

  /* TIP Buttons */
  --color__input-btns-background-default: hsl(251, 98%, 39%);
  --color__input-btns-text-default: hsl(186, 15%, 80%);

  --color__input-btns-background-hover: hsl(183, 85%, 50%);
  --color__input-btns-text-hover: hsl(183, 100%, 15%);

  --color__input-btns-background-active: hsl(183, 85%, 50%);
  --color__input-btns-text-active: hsl(183, 100%, 15%);

  /* OUTPUT SECTION */
  --color__output-background: hsl(251, 75%, 39%);
  --color__output-heading: hsl(189, 41%, 97%);
  --color__output-heading-sub: hsl(184, 14%, 56%);
  --color__output-text: hsl(172, 67%, 45%);

  /* Output Button */
  --color__output-btn-background: hsl(251, 98%, 39%);
  --color__output-btn-text: hsl(183, 100%, 20%);
  --color__output-btn-background-hover: hsl(183, 85%, 50%);
}

/* ===== */
/* FONTS */
/* ===== */

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

* {
  font-family: "Space Mono", monospace;

  /* Define Transition for Color Theme */
  transition: background 0.2s linear;
}

.input__tip-btn,
input,
.output__result {
  font-size: 2.4rem;
}

label,
h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

/* ==== */
/* BODY */
/* ==== */
body {
  background-color: var(--color__body);

  /* Flex to Align Content */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ====== */
/* HEADER */
/* ====== */
h1 {
  color: var(--color__title);
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin-bottom: 2rem;
}

/* =========== */
/* APPLICATION */
/* =========== */
main {
  padding: 3rem;
  width: 35rem;
  border-radius: 2rem;
  background-color: var(--color__main);
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.25);
}

/* ================= */
/* Button Animations */
/* ================= */
button {
  transition: all 0.15s ease-out;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: scale(1.05);
}

/* ======= */
/* Wrapper */
/* ======= */
.wrapper {
  width: 100%;

  /* Flex Container */
  display: flex;
  flex-direction: column;
}

.input__bill,
.input__tip,
.input__num-people,
.output__tip,
.output__total {
  margin: 1.5rem 0;
}

/* ===== */
/* INPUT */
/* ===== */

.input {
  font-weight: bold;

  /* Flex Item */
  flex: 1;

  /* Flex Container */
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  padding: 0.5rem;
  text-align: end;
  background-color: var(--color__input-field-background);
  color: var(--color__input-field-text);
  border: none;
  font-weight: 700;
  border-radius: 0.5rem;
}

label,
.input__tip h2 {
  color: var(--color__input-field-label);
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

/* =========== */
/* BILL AMOUNT */
/* =========== */
.input__bill {
  position: relative;
}

.input__bill .input__label::after {
  position: absolute;
  content: url(../../images/icon-dollar.svg);
  top: 4.2rem;
  left: 1.5rem;
  z-index: 1;
}

/* ===== */
/*  TIP  */
/* ===== */

.input__tip-btn-group {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
}

.input__tip-btn {
  font-weight: 700;
  border: none;
  flex: 0 1 47%;
  margin: 0.8rem 0;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: center;
}

button.input__tip-btn {
  background-color: var(--color__input-btns-background-default);
  color: var(--color__input-btns-text-default);
}

button.input__tip-btn:hover {
  background-color: var(--color__input-btns-background-hover);
  color: var(--color__input-btns-text-hover);
}

button.input__tip-btn--active {
  background-color: var(--color__input-btns-background-active);
  color: var(--color__input-btns-text-active);
}

/* ================ */
/* NUMBER OF PEOPLE */
/* ================ */
.input__num-people {
  position: relative;
}

.input__num-people .input__label::after {
  position: absolute;
  content: url(../../images/icon-person.svg);
  top: 4.2rem;
  left: 1.5rem;
  z-index: 1;
}

/* ============= */
/* INVALID INPUT */
/* ============= */

.input--invalid {
  outline: none;
  border: 0.2rem solid orangered;
  animation: shake 0.3s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.input__label--invalid {
  color: orangered;
  position: absolute;
  right: 0;
  display: none;
}

.input__tip-btn-custom--invalid {
  color: orangered;
  position: absolute;
  right: 0rem;
  bottom: -1.5rem;
  display: none;
}

@keyframes shake {
  10%,
  90% {
    transform: translate(-1px, 0) rotate(-1deg);
  }

  20%,
  80% {
    transform: translate(2px, 0) rotate(1deg);
  }

  30%,
  50%,
  70% {
    transform: translate(-4px, 0) rotate(-1deg);
  }

  40%,
  60% {
    transform: translate(4px, 0) rotate(1deg);
  }
}

/* ====== */
/* OUTPUT */
/* ====== */
.output {
  padding: 2rem;

  background-color: var(--color__output-background);
  border-radius: 2rem;

  /* Flex Item */
  flex: 1;

  /* Flex Container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.output__tip,
.output__total {
  display: flex;
  justify-content: space-between;
}

.output__header2 {
  color: var(--color__output-heading);
}

.output__header3 {
  color: var(--color__output-heading-sub);
}

.output__result {
  color: var(--color__output-text);
  font-size: 3.5rem;
  font-weight: 700;
}

/* ================ */
/* TIP (CALCULATED) */
/* ================ */

/* ================== */
/* TOTAL (CALCULATED) */
/* ================== */

/* ============ */
/* RESET BUTTON */
/* ============ */
.output__btn {
  padding: 1rem 2rem;
  background-color: var(--color__output-btn-background);
  color: var(--color__output-btn-text);
  font-size: 2rem;
  font-weight: 700;
  border: none;
  border-radius: 0.8rem;
  cursor: pointer;
}

.output__btn:hover {
  background-color: var(--color__output-btn-background-hover);
}

/* ====== */
/* FOOTER */
/* ====== */
footer {
  margin-top: 2rem;

  /* Flex Container */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

/* ====================== */
/* TOGGLE FOR COLOR THEME */
/* ====================== */
.toggle__container {
  margin: 1rem 0 3rem 0;
}

.toggle__switch {
  /* Remove toggle visibility */
  display: none;
}

/* This will be the toggle background */
.toggle__label {
  width: 8rem;
  height: 4rem;
  background-color: hsl(0, 0%, 7%);
  border-radius: 4rem;
  cursor: pointer;

  /* Flex Container */
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.toggle__ball {
  background-color: white;
  width: 3rem;
  height: 3rem;
  margin: 0.5rem;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

/* Change background color of label when switch checked */
.toggle__switch:checked + .toggle__label {
  background-color: hsl(251, 98%, 39%);
}

/* Select the toggle__ball when the toggle__switch is checked */
.toggle__switch:checked + .toggle__label .toggle__ball {
  transform: translateX(4rem);
}

/* =========== */
/* ATTRIBUTION */
/* =========== */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* =========================== */
/* Media Query for Desktop Mode*/
/* =========================== */
@media (min-width: 49em) {
  main {
    width: 78rem;
  }

  .wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .input,
  .output {
    /* flex-basis: 45%; */
    max-width: 35rem;
  }

  .input__tip-btn {
    flex: 0 1 30%;
  }
}
